<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <title>생활약속 이벤트</title>
    <link rel="stylesheet" href="./css/event.css">
</head>
    <section layout:fragment="content" class="section">
        <div class="secName">
            <h1>Event</h1>
        </div>
        <div class="event">
            <div class="event_img">
                <img src="./imeage/event/membership_01.jpg" alt="">
                <img src="./imeage/event/membership_02.jpg" alt="">
                <img src="./imeage/event/membership_03.jpg" alt="">
                <img src="./imeage/event/membership_04.jpg" alt="">
                <img src="./imeage/event/membership_05_.jpg" alt="">
                <img src="./imeage/event/membership_06_.jpg" alt="">
            </div>
        </div>
    </section>
</html>