<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <title>생활약속 개인정보처리방침</title>
        <link rel="stylesheet" href="./css/infoProcess.css">
</head>
    <section layout:fragment="content" class="section">
        <div class="secName">
            <h1>개인정보처리방침</h1>
        </div>
        <div class="termsMain">
            <div class="termsSub">
                <div class="terms01">
                    <h1>주식회사  넥스트플레이어 개인정보처리방침</h1>
                    <h2>
                        주식회사  넥스트플레이어(이하 “회사”라 함)는 이용자들의 개인정보보호를 매우 중요시하며,
                        "정보통신망 이용촉진 및 정보보호에 관한 법률”을 준수하고 있습니다.
                        회사는 개인정보처리방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로
                        이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
                        회사는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                    </h2>
                    <h2>
                        1. 수집하는 개인정보의 항목 및 수집방법<br>
                        2. 개인정보의 수집 및 이용목적<br>
                        3. 개인정보의 보유 및 이용기간<br>
                        4. 개인정보의 파기 절차 및 방법<br>
                        5. 개인정보의 제3자 제공<br>
                        6. 개인정보의 처리위탁<br>
                        7. 이용자 및 법정대리인의 권리와 그 행사방법<br>
                        8. 쿠키(cookie)의 운영에 관한 사항<br>
                        9. 개인정보의 안전성 확보 조치<br>
                        10. 개인정보보호책임자 및 담당자의 연락처<br>
                        11. 고지의 의무
                    </h2>
                </div>
                <div class="terms02">
                    <h2>
                        1. 수집하는 개인정보의 항목 및 수집방법
                    </h2>
                    <p>
                        회사는 구매, 상담, 불량이용의 방지 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.
                        - 필수항목 : 이름, ID, 비밀번호, 이메일, 전화번호, 주소, 생일(성별포함), IP주소(불량이용의 방지)
                        (회원탈퇴 후 5일까지(관계법률로 인해 필요 시, 일정기간 보존))
                    </p>
                    <p>
                        비회원구매시 수집하는 필수항목은 다음과 같습니다.
                        - 필수항목 : 주문자 정보(이름,이메일,연락처), 받는분 정보(이름, 연락처, 주소)
                        - 선택항목 : 현금영수증 신청시 국세청에 등록되어있는 정보(연락처)
                        (목적 달성 후 5일까지(관계법률로 인해 필요 시, 일정기간 보존))
                    </p>
                </div>
                <div class="terms03">
                   <h2>
                       2. 개인정보의 수집 및 이용목적<br>
                       회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.
                   </h2>
                   <p>
                        가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산, 콘텐츠 제공, 구매 및 요금 결제, 물품배송 또는 청구지 등 발송, 금융거래 본인 인증 및 금융서비스
                   </p>
                   <p>
                        나. 회원 관리<br>
                        회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지,
                        가입 의사 확인, 연령확인, 불만처리 등 민원처리, 고지사항 전달
                   </p>
                   <p>
                        다. 마케팅 및 광고에 활용<br>
                        이벤트 등 광고성 정보 전달, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계
                   </p>
                </div>
                <div class="terms04">
                    <h2>3. 개인정보의 보유 및 이용기간</h2>
                    <h2>
                        회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.
                        단, 상법 및 “전자상거래등에서의 소비자보호에 관한 법률” 등 관련 법령의 규정에 의하여
                        다음과 같이 거래 관련 관리 의무 관계의 확인 등을 이유로 일정기간 보유하여야 할 필요가 있을 경우에는 일정기간 보유합니다.
                    </h2>
                    <p>
                        - 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)<br>
                        - 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)<br>
                        - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)<br>
                        - 설문조사, 이벤트 등 일시적 목적을 위하여 수집한 경우 : 당해 설문조사, 이벤트 등의 종료 시점<br>
                        - 본인확인에 관한 기록 : 6개월(정보통신망 이용촉진 및 정보보호 등에 관한 법률)<br>
                        - 방문(로그)에 관한 기록 : 3개월(통신비밀보호법)
                    </p>
                </div>
                <div class="terms05">
                   
                </div>
                <div class="terms06">
                   
                </div>
            </div>
        </div>
    </section>
</html>