<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <title>생활약속 마이페이지</title>
    <link rel="stylesheet" href="./css/mypage.css">
</head>
    <section layout:fragment="content" class="section">
        <div class="secName">
            <h1>MyPage</h1>
        </div>
        <div class="myPage01">
            <div class="myPage01_01 my01">
                <div>
                    <h1>총적립금</h1>
                    <h2>16,894 Point</h2>
                </div>
                <div>
                    <h1>사용적립금</h1>
                    <h2>14,326 Point</h2>
                </div>
                <div>
                    <h1>총주문</h1>
                    <h2>₩627,400</h2>
                </div>
            </div>
            <div class="myPage01_02 my02">
                
                    <div>
                        <div>
                            <h1>사용가능 적립금</h1>
                            <h2>2,568 Point</h2>
                        </div>
                        <div>
                            <h1>예치금</h1>
                            <h2>0원</h2>
                        </div>
                        <div>
                            <h1>쿠폰</h1>
                            <h2>0개</h2>
                        </div>
                    </div>
                    <div>
                        <div>
                            <input type="button" value="조회">
                        </div>
                        <div>
                            <input type="button" value="조회">
                        </div>
                        <div>
                            <input type="button" value="조회">
                        </div>
                    </div>
               
            </div>       
        </div>
        <div class="myPage02">
            <div class="myPage02_01 orderPcs">
                <h1>나의 주문처리 현황&nbsp;&nbsp;</h1>
                <h2>(최근 3개월 기준)</h2>
            </div>
            <div class="myPage02_02 orderPcs">
                <span>
                    <p>입금전</p>
                    <a href=""><p>0</p></a>
                </span>
                <span class="myPageLine"></span>
                <span>
                    <p>배송준비중</p>
                    <a href=""><p>1</p></a>
                </span>
                <span class="myPageLine"></span>
                <span>
                    <p>배송중</p>
                    <a href=""><p>2</p></a>
                </span>
                <span class="myPageLine"></span>
                <span>
                    <p>배송완료</p>
                    <a href=""><p>3</p></a>
                </span>
                <span class="myPageLine"></span>
                <span>
                    <p>
                        <span>취소&nbsp;:</span>
                        <a href=""><span>0</span></a>
                    </p>
                    <p>
                        <span>교환&nbsp;:</span>
                        <a href=""><span>1</span></a>
                    </p>
                    <p>
                        <span>환불&nbsp;:</span>
                        <a href=""><span>2</span></a>
                    </p>
                </span>
            </div>
        </div>
        <div class="myPage03">
            <div>
                <div>
                    <a th:href="@{/order}">
                        <i class="fa-solid fa-file-lines fa-3x"></i>
                        <h1>Oreder</h1>
                        <h2>주문내역 조회</h2>
                        <p>고객님께서 주문하신 상품의 주문내역을 확인하실 수 있습니다.</p>
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <a th:href="@{/changeInfo}">
                        <i class="fa-regular fa-address-card fa-3x"></i>
                        <h1>Profile</h1>
                        <h2>회원정보</h2>
                        <p>회원이신 고객님의 개인정보를관리하는 공간입니다.</p>
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <a href="">
                        <i class="fa-solid fa-gift fa-3x"></i>
                        <h1>WishList</h1>
                        <h2>관심상품</h2>
                        <p>관심상품으로 등록하신 상품의 목록을 보여드립니다.</p>
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <a href="">
                        <i class="fa-solid fa-piggy-bank fa-3x"></i>
                        <h1>Mileage</h1>
                        <h2>적립금</h2>
                        <p>적립금은 상품 구매 시 사용하실 수 있습니다.</p>
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <a href="">
                        <i class="fa-solid fa-sack-dollar fa-3x"></i>
                        <h1>Deposits</h1>
                        <h2>예치금</h2>
                        <p>예치금은 현금과 동일하게 상품 구매시 사용하실 수 있습니다.</p>
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <a href="">
                        <i class="fa-solid fa-heart fa-3x"></i>
                        <h1>Coupon</h1>
                        <h2>쿠폰</h2>
                        <p>고객님이 보유하고 계신 쿠폰내역을 보여드립니다.</p>
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <a href="">
                        <i class="fa-solid fa-file-pen fa-3x"></i>
                        <h1>Board</h1>
                        <h2>게시물 관리</h2>
                        <p>고객님께서 작성하신 게시물을 관리하는 공간입니다.</p>
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <a href="">
                        <i class="fa-solid fa-user-pen fa-3x"></i>
                        <h1>review</h1>
                        <h2>상품 리뷰 관리</h2>
                        <p>고객님께서 작성하신 상품 리뷰글을 관리하는 공간입니다.</p>
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <a href="">
                        <i class="fa-solid fa-truck-moving fa-3x"></i>
                        <h1>Address</h1>
                        <h2>배송 주소록 관리</h2>
                        <p>자주 사용하는 배송지를 등록하고관리하실 수 있습니다.</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</html>