<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <title>생활약속 쇼핑</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shop.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/hoverEvent.css}">
    <script th:src="@{/js/shop.js}"></script>
</head>
    <section layout:fragment="content" class="section">
        <div class="secName">
            <h1>SHOP</h1>
        </div>
        <div class="section03"> 
            <div class="grdtm grd01">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec01.jpg" alt="sample83" />
                        <figcaption>
                            <h3>기분전환S</h3>
                            <p>비트, 호박, 모링가, S-mix, NP-mix, 백야초, 특허성분2종</p>
                            <p>기분전환 오리지날 업그레이드버전<br> V라인을 책임질 한의사 공동개발 스페셜레시피<br>100여가지의 약초를 한-포에 담았다!</p>                 
                            <p>₩42,800<br>₩33,120</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">기분전환S [5gx20포]<br>1500만포기념 ~53%할인</h1>
                    <hr>
                    <p>비트, 호박, 모링가, S-mix, NP-mix, 백야초, 특허성분2종</p>
                    <p>기분전환 오리지날 업그레이드버전<br> V라인을 책임질 한의사 공동개발 스페셜레시피<br>100여가지의 약초를 한-포에 담았다!</p>                 
                    <p>₩42,800<br>₩33,120</p>
                </div>
            </div>
            <div class="grdtm grd02">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec06.jpg" alt="sample83" />
                        <figcaption>
                            <h3>공백환</h3>
                            <p>양배추,감초,브로콜리,백년초</p>
                            <p>화학 성분은 단 하나도 들어가지 않은 속 편한 습관<br>자극적인 생활엔 없어서 안될 필수품</p>                 
                            <p>₩34,800<br>₩29,800</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">공백환 [5gx20포]<br>1500만포기념! ~54%할인</h1>
                    <hr>
                    <p>양배추,감초,브로콜리,백년초</p>
                    <p>화학 성분은 단 하나도 들어가지 않은 속 편한 습관<br>자극적인 생활엔 없어서 안될 필수품</p>                 
                    <p>₩34,800<br>₩29,800</p>
                </div>
            </div>
            <div class="grdtm grd03">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec03.jpg" alt="sample83" />
                        <figcaption>
                            <h3>기분전환 알파</h3>
                            <p>비트, 호박, 모링가, 차전자피, 녹각, 강황</p>
                            <p>기분전환 오리지날에 식이섬유를 더한 기분전환 알파<br>내 몸 답답함없이 건강을 위해 차전자피까지!</p>                 
                            <p>₩42,800<br>₩33,120</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">기분전환 알파 [5gx20포]<br>1500만포기념! ~53%할인</h1>
                    <hr>
                    <p>비트, 호박, 모링가, 차전자피, 녹각, 강황</p>
                    <p>기분전환 오리지날에 식이섬유를 더한 기분전환 알파<br>내 몸 답답함없이 건강을 위해 차전자피까지!</p>                 
                    <p>₩42,800<br>₩33,120</p>
                </div>
            </div>

            <div class="grdtm grd04">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec04.jpg" alt="sample83" />
                        <figcaption>
                            <h3>마셔보리</h3>
                            <p>새싹보리, 파인애플, 레몬과즙, 옥수수수염, 브로콜리, 녹차, 메리로트,<br>브로멜라인</p>
                            <p>청정제주 무농약 새싹보리로 대장균, 금속이물검사 완료된 마셔보리!<br>막힘없이 가벼운 건강을 위해</p>                 
                            <p>₩34,800<br>₩29,800</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">청정제주에서 온 마셔보리 [4gx20포]<br>1500만포기념! ~54%할인</h1>
                    <hr>
                    <p>새싹보리, 파인애플, 레몬과즙, 옥수수수염, 브로콜리, 녹차, 메리로트,<br>브로멜라인</p>
                    <p>청정제주 무농약 새싹보리로 대장균, 금속이물검사 완료된 마셔보리!<br>막힘없이 가벼운 건강을 위해</p>                 
                    <p>₩34,800<br>₩29,800</p>
                </div>
            </div>
            <div class="grdtm grd05">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec05.jpg" alt="sample83" />
                        <figcaption>
                            <h3>기분전환 브이라인티</h3>
                            <p>비트, 호박, 모링가, 히비스커스, 우롱, 팥</p>
                            <p>하루가 달라지는 마법같은 티<br>내 몸 속 막힘없이 맑은 건강을 위해</p>                 
                            <p>₩34,800<br>₩29,800</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">기분전환 브이라인티<br>[2.2gx20개입]1500만포기념! ~54%할인</h1>
                    <hr>
                    <p>비트, 호박, 모링가, 히비스커스, 우롱, 팥</p>
                    <p>하루가 달라지는 마법같은 티<br>내 몸 속 막힘없이 맑은 건강을 위해</p>                 
                    <p>₩34,800<br>₩29,800</p>
                </div>
            </div>
            <div class="grdtm grd06">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec02.jpg" alt="sample83" />
                        <figcaption>
                            <h3>ABC환</h3>
                            <p>사과, 비트, 당근</p>
                            <p>전세계가 극찬한 ABC주스를 환으로 간편하게<br>막힘없이 가벼운 건강을 위해</p>                 
                            <p>₩34,800<br>₩29,800</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">ABC주스를 환으로 ABC환 [5gx20포]<br>1500만포기념! ~54%할인</h1>
                    <hr>
                    <p>사과, 비트, 당근</p>
                    <p>전세계가 극찬한 ABC주스를 환으로 간편하게<br>막힘없이 가벼운 건강을 위해</p>                 
                    <p>₩34,800<br>₩29,800</p>
                </div>
            </div>
    
            <div class="grdtm grd07">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec07.jpg" alt="sample83" />
                        <figcaption>
                            <h3>흑자전환</h3>
                            <p>어성초, 검은콩, 자소엽</p>
                            <p>건강한 두피를 위한 현명한 선택<br>흑을 위한 흑자전환!</p>                 
                            <p>₩34,800<br>₩29,800</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">흑자전환 [4gx20포]<br>1500만포기념 ~54%할인</h1>
                    <hr>
                    <p>어성초, 검은콩, 자소엽</p>
                    <p>건강한 두피를 위한 현명한 선택<br>흑을 위한 흑자전환!</p>                 
                    <p>₩34,800<br>₩29,800</p>
                </div>
            </div>
            <div class="grdtm grd08">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec08.jpg" alt="sample83" />
                        <figcaption>
                            <h3>횟수전환</h3>
                            <p>마카, 복분자, 6년근홍삼</p>
                            <p>진짜 마카를 통으로 갈아 넣은 지치지 않는 체력<br>좋은 성분만 가득 담았습니다.</p>                 
                            <p>₩39,800<br>₩34,800</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">횟수전환 [5gx20포]<br>1500만포기념! ~53%할인</h1>
                    <hr>
                    <p>마카, 복분자, 6년근홍삼</p>
                    <p>진짜 마카를 통으로 갈아 넣은 지치지 않는 체력<br>좋은 성분만 가득 담았습니다.</p>                 
                    <p>₩39,800<br>₩34,800</p>
                </div>
            </div>
            <div class="grdtm grd09">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec09.jpg" alt="sample83" />
                        <figcaption>
                            <h3>태세전환</h3>
                            <p>강황, 헛개, 블랙페퍼</p>
                            <p>건강을 위한 속 편한 선택! 회식 필수품<br>주당을 위해 만들었습니다.</p>                 
                            <p>₩34,800<br>₩29,800</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">태세전환 [4gx20포]<br>1500만포기념 ~54%할인</h1>
                    <hr>
                    <p>강황, 헛개, 블랙페퍼</p>
                    <p>건강을 위한 속 편한 선택! 회식 필수품<br>주당을 위해 만들었습니다.</p>                 
                    <p>₩34,800<br>₩29,800</p>
                </div>
            </div>
    
            <div class="grdtm grd010">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec10.jpg" alt="sample83" />
                        <figcaption>
                            <h3>기분전환 한예슬팩</h3>
                            <p>인기상품을 한 번에 구매할 수 있는<br>꿀조합 세트 3탄</p>
                            <p>결심팩(60포)+기분전환(20포)+브이라인티(20포)+보틀</p>                 
                            <p>₩190,900<br>₩115,000 </p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">기분전환 한예슬팩[+보틀증정]<br>가족들과 함께 40%할인!</h1>
                    <hr>
                    <p>인기상품을 한 번에 구매할 수 있는<br>꿀조합 세트 3탄</p>
                    <p>결심팩(60포)+기분전환(20포)+브이라인티(20포)+보틀</p>                 
                    <p>₩190,900<br>₩115,000 </p>
                </div>
            </div>
            <div class="grdtm grd011">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec11.jpg" alt="sample83" />
                        <figcaption>
                            <h3>기분전환 스타터팩</h3>
                            <p>비트, 호박, 모링가, 히비스커스, 우롱, 팥</p>
                            <p>브이라인 꿀조합<br>기분전환오리지날 2박스(40포) + 브이라인티(20포) SET<br>칼륨이 많이 함유되어 있는 채소를 골고루 한 번에</p>                 
                            <p>₩104,400<br>₩59,600</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt">
                    <h1 class="bigP">기분전환 스타터팩<br>친구들과 함께 43%할인</h1>
                    <hr>
                    <p>비트, 호박, 모링가, 히비스커스, 우롱, 팥</p>
                    <p>브이라인 꿀조합<br>기분전환오리지날 2박스(40포) + 브이라인티(20포) SET<br>칼륨이 많이 함유되어 있는 채소를 골고루 한 번에</p>                 
                    <p>₩104,400<br>₩59,600</p>
                </div>
            </div>
            <div class="grdtm grd012">
                <div>
                    <figure class="snip1384">
                        <img src="./imeage/shop/sec12.jpg" alt="sample83" />
                        <figcaption>
                            <h3>기분전환 부스터팩</h3>
                            <p>비트, 호박, 모링가, 차전자피, 녹각, 강황, 히비스커스, 우롱, 팥</p>
                            <p>브이라인 고급형 꿀조합세트<br>기분전환알파 2박스(40포) + 브이라인티(20포) SET<br>칼륨이 많이 함유되어 있는 채소를 골고루 한 번에</p>                 
                            <p>₩128,400<br>₩73,600</p>
                        </figcaption>
                        <a th:href="@{/detailpage}"></a>
                    </figure>
                </div>
                <div class="subTxt" style="margin-bottom: 100px;">
                    <h1 class="bigP">기분전환 부스터팩<br>친구들과 함께 43%할인</h1>
                    <hr>
                    <p>비트, 호박, 모링가, 차전자피, 녹각, 강황, 히비스커스, 우롱, 팥</p>
                    <p>브이라인 고급형 꿀조합세트<br>기분전환알파 2박스(40포) + 브이라인티(20포) SET<br>칼륨이 많이 함유되어 있는 채소를 골고루 한 번에</p>                 
                    <p>₩128,400<br>₩73,600</p>
                </div>
            </div>
        </div>
        <div id="nav2"></div>          
    </section>
</html>