<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="layout_head(meta, title, link)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>생활약속</title>
    <!--<link rel="shortcut icon" th:href="./favicon_20190919173530.ico">-->
    <link rel="shortcut icon" th:href="@{/favicon_20190919173530.ico}" type="image/ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index_section.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper-bundle.min.css}">
</head>